/*stylesheet*/

/*comments! wohoo!*/
body{
	background-color: #ADFFE9;
	color: #000
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	margin: 3em auto;
	max-width:960px;
	padding: 0 20px; 
}

.article {
	padding: 40px 20px 20px 20px;
	background-color: #fff;
}


.article div {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color:rgba(0,0,0,0.1);
}

.masthead{
	width: 720px;
	border: solid blue 3px;
	padding: 10px;
	margin: 20px;
}

.box{
	float: right;
	width: 230px;
	border: solid blue 3px;
	padding: 10px;
	margin: 20px;
}

.altbox{
	box-sizing: border-box;
	border: solid red 3px;
	padding: 10px;
	margin: 20px;
}

.half, .secondhalf {
	width:50%;
	width:calc(50% - 40px);
	padding:20px;
}
.half{
	float:left;
	
}
.secondhalf {
	float:right;
}

.em-size-box {
	width:1em;
	height:1em;
	background-color:orange !important;
}

.em-size-box {
	width:1rem;
	height:1rem;
	background-color:red !important;
}

.new-font-size {
	font-size:64px;
}

.vw-vh-demo {
	background color:blue;
	width:100vw;
	height:100vh;
}

